@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background: #e0e0e0;
  color: rgb(83, 83, 83);
}

.container {
  min-width: 400px;
  max-width: 400px;
}

.title {
  font-size: 3rem;
}

.form-rounded {
  border-radius: 2rem 2rem 0 0;
  border: none;
}
.form-rounded-left {
  border-radius: 0 0 0 2rem;
  border: none;
  flex-grow: 2;
}
.form-rounded-right {
  border-radius: 0 0 2rem 0;
  flex-grow: 1;
  border: none;
}

.soft-appear {
  animation: soft 1s;
}
.back-card {
  border-radius: 2rem !important;
}

.city-name {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
.city-name p {
  font-size: 1.5rem;
  margin-bottom: 0;
}

#countrySelect option {
  font-size: 0.8rem;
  text-align: center;
}

.temp span {
  font-size: 4rem;
  white-space: nowrap;
  letter-spacing: -0.3rem;
}

.card-mid {
  line-height: 0.5;
}
.condition {
  line-height: 1;
}

.highTemp::before {
  content: "";
  background: url(./img/up.svg) no-repeat;

  width: 0.6rem;
  height: 1rem;
  display: inline-block;
  position: relative;
  top: 2px;
}

.lowTemp::before {
  content: "";
  background: url(./img/down.svg) no-repeat;

  width: 0.6rem;
  height: 1rem;
  display: inline-block;
  position: relative;
  top: 2px;
}

.icon-container {
  border-radius: 100%;
  width: 100px;
  height: 100px;
  background: #0c0d43;
}
.icon-container img {
  margin: auto;
}

.card-bottom {
  line-height: 0.8;
}

.card-bottom p {
  font-size: 2.5rem;
  letter-spacing: -0.3rem;
}

@keyframes soft {
  0% {
    opacity: 0;
    top: -1500px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@media (max-width: 399px) {
  .container {
    min-width: 100%;
  }
}
